
<script type="text/javascript">
    $(document).ready(function() {
        $('#events').dataTable({
          "orderFixed": [ 0, 'desc' ]
        });
    });
</script>
<center>
  <div style="width:90%;">
    <table id="events" class="display" cellspacing="0" style="width: 90%; margin-left: auto;margin-right: auto;margin-top: 5px;">
    <thead>
    <tr>
      <th>Date Reported</th>
      <th>Location</th>
      <th width="250">Signs and Symptoms</th>
      <th style="text-align: center;">Number of Animals Affected </th>
      <th style="text-align: center;">Number of Animals Dead</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% (@events || []).each do |event| %>
     <tr>
      <td><%= event.date_reported.strftime("%d %b %Y") %></td>
      <td><%= event.source_contact_name %></td>
      <td>Animal show signs of <%= to_symptom_name(event.report.animal_symptoms) %></td>
      <td style="text-align: center;"><%= event.report.number_of_infected %></td>
      <td style="text-align: center;"><%= event.report.number_of_infected %></td>
      <td><%= event.event_statuses.last.status %></td>
      <td><%= link_to "View",event_path(event) %></td>
     </tr>
    <% end %>
    </tbody>
  </table>
</div>
</center>
