
<script type="text/javascript">
    $(document).ready(function() {
        $('#events').dataTable({
        });
    });
</script>
<center>
  <div style="width:90%;">
    <table id="events" class="display" cellspacing="0" style="width: 90%; margin-left: auto;margin-right: auto;margin-top: 5px;">
    <thead>
    <tr>
      <th>Location</th>
      <th>Date Reported</th>
      <th width="250">Signs Affected</th>
      <th style="text-align: center;">Number Affected</th>
      <th style="text-align: center;">Number Dead</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% (@events || []).each do |event| %>
     <tr>
      <% if event.report %>
        <td><%= event.report.farmer_id %></td>
        <td><%= event.date_reported.strftime("%d %b %Y") %></td>
        <td>Animal show signs of <%= to_symptom_name(event.report.animal_symptoms) %></td>
        <td style="text-align: center;">0</td>
        <td style="text-align: center;">0</td>
        <td> New</td>
        <td><%= link_to "View",event_path(event) %></td>
      <% else %>
        <td></td>
        <td><%= event.date_reported.strftime("%d %b %Y") %></td>
        <td></td>
        <td style="text-align: center;">0</td>
        <td style="text-align: center;">0</td>
        <td> New</td>
        <td><%= link_to "View",event_path(event) %></td>
      <% end %>
     </tr>
    <% end %>
    </tbody>
  </table>
</div>
</center>
