<style>
  div.cell{
      border: 1px solid #dcdcdc;
      height: 43vh;
      width: 47.5vw;
      border-radius: 5px;
  }
</style>
<div class="table" style="width: 98%;margin-top: -20px;margin-left: auto;margin-right: auto;">
  <div class="row">
    <div style="width: 99%;">
      Case Reported at <b><%= @site.first["name"] %></b> on <%= @event.date_reported.strftime("%d %b %Y") %> (<b>Symptoms: </b>
      <%= to_symptom_name(@event.report.animal_symptoms) %>, <b>Number of Affected : </b>
      <%= (@event.report.blank? ? 0 : @event.report.number_of_infected) %>)
    </div>
  </div>
  <div class="row" style="width: 100%;">
    <div class="cell" style="float: left;">
        <div class="heading">Map of Potentially Impacted Areas</div>
        <div class="span8">
          <iframe width="100%" height="225" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=<%= @site[0]["lat"] %>,<%= @site[0]["long"] %>&aq=t&sll=<%= @site[0]["lat"] %>,<%= @site[0]["long"] %>&sspn=<%= @site[0]["lat"] %>,<%= @site[0]["long"] %>&ie=UTF8&hq=&hnear=<%= @site[0]["lat"] %>,<%= @site[0]["long"] %>&t=m&z=10&ll=<%= @site[0]["lat"] %>,<%= @site[0]["long"] %>&output=embed"></iframe>
      </div>
    </div>
    <div class="cell" style="float: right;">
      <div class="heading">Summary of Potentially Impacted Areas</div>
      <div class="summary" style="height: 10vh;">
        <% (@close_locations || []).each do |location| %>
            <div class="<%= cycle('odd-row', 'even-row') %>">
              <%= location["name"] %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="cell" style="float: left;">
      <div class="heading">Follow Up</div>
      <div class="summary" style="height: 10vh;">
        <% (@close_locations || []).each do |location| %>
            <div class="<%= cycle('odd-row', 'even-row') %>">
              <%= follow_up_on(location["properties"]["contact"],
                               location["properties"]["contactname"],location["name"]) %>
            </div>
        <%end%>
      </div>
    </div>
    <div class="cell" style="float: right;">
      <div class="heading">Event History</div>
      <div class="summary" style="height: 15vh;">
        <% (@event.event_statuses || []).each do |status| %>
            <div class="<%= cycle('odd-row', 'even-row') %>">
              <%= status.to_s %>
            </div>
        <% end %>
      </div>
      <div>
        <%= form_tag("/event_statuses", method: "post") do %>
        <%= select_tag( :status ,options_for_select([['Investigating', 'Investigating'], ['Resolved', 'Resolved']])) %>
        <%= hidden_field_tag :event_id , @event.id %>
        <%= submit_tag("Update") %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <!--
  function confirmChange(id)
  {
      var new_state = document.getElementById(id).value
    if(confirm("Do you want to update the state to " + new_state+ "?"))
    {
        var form = document.createElement("form");
        form.method = 'POST';
        form.name = 'event_status';
        form.action = '/event_statuses';

        var event = document.createElement("input")
        event.value = <%= @event.id %>;
        event.name = "event_id";

        var status = document.createElement("input")
        event.value = new_state
        event.name = "status";

        document.body.appendChild(form);
        form.submit();
    }
  }
  //-->
</script>